@import "_config.scss";

// header styles //

header {
  position: relative;
  display: block;
  width: 100%;
  background:$grey;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
    .logotype {
       position: absolute;
       top:50%; left: 5%;
       @include translateY(-50%);
           }
    .logo {
        width: 70%;
            }

    nav,
    nav ul,
    nav ul li {
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: $darkGrey;
        font-family: 'Roboto', sans-serif;
        @include transition(.3s ease-in-out);
        cursor: poiner;

      &:hover {
        text-decoration: none;
        color: $hover;
        @include transition(.3s ease-in-out)
      }

    }
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);



  ul li {
    list-style-type: none;
    display:  inline-block;
    margin-right: 25px;

  }

 }

}

// header styles //


// home_page styles //

.home {
    img {
    width: 100%;
  }
}

.penoizol {
  h2, h5, p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  h5 {
    font-family: 'italic', sans-serif;
    font-style: italic;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  h2 {
    padding-top: 4%;
  }
  p {
    padding-left: 7%;
    padding-right: 7%;
  }
}

// home_page styles //


// footer styles //
footer {
 background-color: #2a2a2a;
 width: 100%;
 font-family: 'Roboto', sans-serif;
 font-size: 13px;
 font-weight: 100;
 color: white;

  .container {
    padding: 1% 5.5%;
    margin: 0;
  }
  .copyright {
    width: 50%;
  }
}

// footer styles //

// icons styles //

.icons{
  text-align: center;
  .iconWrapper{
    height: 220px;
    width: 350px;
    padding: 4% 3%;
    display: inline-block;
    span {
      color: #00a73d;
    }
    span:hover{
      color: #0973b9;
      @include transition(.3s ease-in-out)
    }
    h3{
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    color: #4b5762;
    }
    h3:hover{
    cursor: pointer;
    color: #0973b9;
    @include transition(.3s ease-in-out)
    }
    a {
    text-decoration: none;
    }
  }
}

// icons styles //

.notFound {
  width: 100%
}
