@import "_config.scss";
header {
  position: relative;
  display: block;
  width: 100%;
  background:#f3f3f3;
  height: 90px;

  .logotype {
      position: absolute;
      top:50%; left: 5%;
      -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
          transform: translateY(-50%);
          }
  .logo {
      width: 70%;
          }

    nav,
    nav ul,
    nav ul li {
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: #a0a0a0;
        @include transition(.3s ease-in-out);
        cursor: poiner;

      &:hover {
        text-decoration: none;
        color: #676767;
        @include transition(.3s ease-in-out)
      }

    }
  }       
 
  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);
  


 ul li {
    list-style-type: none;
    display:  inline-block;
    margin-right: 20px;


    &.last {
      margin: 0;
    }

  
  }

 }
 
}






